[2019-10-10 21:01] bl-young opened #1 "Air transportation emissions (NEI) misaligned"
The NEI captures emissions from landings and takeoffs (LTO) which are assigned to airports in the NEI point dataset. In most cases, these would end up assigned to NAICS that would get assigned to 48A000 - Scenic and sightseeing transportation and support activities for transportation. Instead they should be assigned to Air Transportation (481000)

See NEI TSD: https://www.epa.gov/sites/production/

[2020-03-05 14:25] WesIngwersen commented on #1
@bl-young Transferred from USEEIO
This is here for a reminder once we get to bringing in NEI data

[2020-03-22 10:49] WesIngwersen opened #2 "parquet not readable across OS"
Reported by @MoLi7
Read in of flowbyactivity parquet files failing with footer error when created by another user

[2020-03-25 21:07] MoLi7 opened #4 "Missing county-level FIPS code"
"02270" "46113" "51515" exist in BEA State Employment but not in /flowsa/data/FIPS.csv.
@WesIngwersen I will work with @catherinebirney to investigate this.

[2020-03-25 21:13] catherinebirney commented on #4
@MoLi7 @WesIngwersen
In 2015, "02270" and "46113" counties were renamed and assigned new FIPS ("02158" and "46102", respectfully). In 2013 "51515" was merged with "51019".

[2020-03-25 21:55] MoLi7 commented on #4
@catherinebirney @WesIngwersen
Renaming FIPS can be problematic for processing state/county data like BEA State Employment data. I will see if I can pull BEA StateEmp with state name, otherwise, we might want to keep FIPS-State-County tables for different years.

[2020-03-26 01:32] WesIngwersen commented on #4
We probably want to keep multiple FIPS years with mappings in between. I was thinking of changing the Fips field to A more generic Location with a LocationSystem field analogous to Other system fields. In this case we could have a LocationSystem like FIPS_2017.

[2020-04-29 12:39] #2 closed

[2020-05-02 20:24] WesIngwersen opened #7 "USDA_CoA_Cropland has mixed flow classes"
The OPERATIONS flows are not a unit of Land, but rather of Other, so these should be stored in a separate parquet file. at this point flowsa doesn't support having more than one class stored together in a parquet. If that needs to change then we need to change source catalog to have a list for class instead of a string

[2020-05-02 20:45] WesIngwersen opened #8 "Inconsistent use of source names"
Ideally the sources need to be consistent across these uses:
in fba data 'SourceName' column
in the file names of the parquet
in the Crosswalk file names
in the Source Catalog

The major issue is that we have generally have a  provider, an inventory/report, and a specific table or flow type.

[2020-05-04 12:13] catherinebirney commented on #7
It makes more sense for Land and Other to be separate parquet files - I'll modify the code

[2020-05-04 12:16] catherinebirney commented on #8
Thanks for pointing out this issue - I will modify the code

[2020-05-04 18:59] WesIngwersen commented on #8
@catherinebirney wrote
I think we should go with what we discussed a few hours ago [long names following a set pattern] regarding naming conventions. I like the current level of specificity of the data imports. There are four USDA datasets, three of which are CoA, but aggregating them to a higher level would make the data less intuitive, even though there is a shared API. There are several dataset

[2020-05-04 19:00] WesIngwersen commented on #8
@catherinebirney ok let's do that for now

[2020-05-04 19:11] WesIngwersen commented on #8
@catherinebirney Please do post a list of proposed names and add the naming scheme to the main README so its clear for users and developers.

[2020-05-04 19:15] catherinebirney commented on #8
Do you want me to post the proposed names in this thread?

[2020-05-04 19:22] WesIngwersen commented on #8
sure

[2020-05-04 20:27] catherinebirney commented on #8
Proposed Names:
1.   BLS_QCEW (modify so emp, estab, payann are in the same parquet)
2.   Census_CBP (modify so emp, estab, payann are in the same parquet)
3.   Census_Population
4.   EIA_CBECS_Water
5.   StatCan_IWS_WU (modifed from Stat_Canada)
6.   USDA_CoA_Cropland
7.   USDA_CoA_Livestock
8.   USDA_CoA_ProdMarkValue
9.   USDA_IWMS
10. USGS_NWIS_WU (modified from USGS_Water_Use)

[2020-05-04 21:01] WesIngwersen commented on #8
3. What is the name of the survey or report for this population estimate?
4. We should probably remove water and get additional data as well.
6-8. I assume these final names are OK for now.
9. Are we getting everything from this survey?

[2020-05-04 21:19] catherinebirney commented on #8
3. Population Estimates Program (PEP)...so Census_PEP_Population
4. I agree
5. No, we aren't. We could use StatCan_IWS_MI (Statistics Canada, Industrial Water Survey, Manufacturing Industries)

[2020-05-05 16:45] catherinebirney commented on #8
Regarding "EIA_CBECS_Water", I think we should keep "Water" in the name and import the "Energy" information as a separate dataset. This naming convention would follow the same logic as splitting the CoA data into "Cropland" and "Livestock".  Additionally, the CBECS water data only exists for 2012, while we will import energy data for multiple years.

[2020-05-13 21:47] #7 closed

[2020-05-13 21:48] #4 closed

[2020-06-06 18:43] #8 closed

[2020-06-06 18:49] WesIngwersen commented on #2
@MoLi7 @catherinebirney   We're still pursing [a related issue](https://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List/issues/92) in fedelemflowlist.. whatever is proposed there will require that its also cross OS compatible.  As I recall, wasn't it the use of an optional compression methods for the parquet files in [write_parquet ](https://pandas.pydata.org/pandas-docs/stable/reference

[2020-07-08 17:36] WesIngwersen opened #11 "Consider when to convert units and names in flowbysector"
We are still trying to decide the best way to handle both the unit converts of flows and the mapping to the FEDEFL in the flowbysector logic

@catherinebirney

[2020-07-22 17:16] WesIngwersen opened #12 "flowbysector: Handle cases when BLS employees for a sector-geography but there are flows"

[2020-08-20 21:30] WesIngwersen opened #21 "flowbysector: FlowType needs to be correctly assigned"
The  `Water_national_2015_m1` method is returning None for this field

FlowType needs to be one of the acceptable values; see the format specs

[2020-08-20 23:26] catherinebirney commented on #21
@WesIngwersen Thanks for pointing this bug out. I added the FlowType.

[2020-08-21 01:12] WesIngwersen opened #22 "Collapse SectorsProducedBy and ConsumedBy into single sector as dictated by the method"
For the common use case of satellite tables in USEEIO, the need is generally to have one sector associated with a flow record.

[2020-08-21 01:19] WesIngwersen commented on #22
We can simple the flowbysector (fbs) df to have one sector using some sector specific rules of whether to use produced by or consumed by, however then get_flowbysector(method) would return a df with different fields (not the standard format).  So another option is to provide another function  that will modify the fbs df futher to only have one sector.  like get_flowbysector_collapsed(method).  thi

[2020-08-21 21:22] WesIngwersen opened #23 "pandas.np deprecation"
Starting here and used in this function is pd.np.where
https://github.com/USEPA/flowsa/blob/72b7b186bfdc4bf290e840053e84135f6b74d265/flowsa/USGS_NWIS_WU.py#L105

Its throwing a warning of future deprecation.
`FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead`

[2020-08-24 12:09] catherinebirney commented on #23
modified function to np.where

[2020-08-24 12:09] #23 closed

[2020-08-28 19:54] bl-young opened #27 "FBS: some NAICS dropping"
When expanding the NAICS list, more detailed sectors will get dropped if another entry in the mapping already maps to those sectors. [Line 119-120](https://github.com/USEPA/flowsa/blob/master/flowsa/mapping.py#L119)

With NEI data, some activities are more specific than others. E.g. an SCC might apply to all Agriculture (NAICS: 111) while another SCC will apply to specific crops (NAICS: 11114). Wh

[2020-08-29 15:21] catherinebirney commented on #27
@bl-young Thanks for pointing this issue out.  It is a necessary step for some of the mappings I'm working with. I moved the "add_sectors_to_flowbyactivity" into the for loop that runs through each of the activities in the "names" list of an activity set. This way the NAICS are assigned to each SCC, one at a time, so the NAICS shouldn't be dropped.

[2020-09-09 17:31] WesIngwersen commented on #21
resolved

[2020-09-09 17:31] #21 closed

[2020-09-09 17:38] WesIngwersen commented on #27
@bl-young let us know if this is still a problem or otherwise go ahead and close, thanks

[2020-09-09 17:54] WesIngwersen opened #29 "Water use m2 flowbysector yielding multiple NAICS levels despite target_sector_level is NAICS_6"
includes for instance 2211 and 1125

applies to https://github.com/USEPA/flowsa/blob/master/flowsa/data/flowbysectormethods/Water_national_2010_m2.yaml
and
https://github.com/USEPA/flowsa/blob/master/flowsa/data/flowbysectormethods/Water_national_2015_m2.yaml

[2020-09-09 17:55] WesIngwersen commented on #29
one solution could be to just map it to NAICS_4, which would be sufficient for the currently planned end-use

[2020-09-09 18:20] WesIngwersen opened #30 "Missing function disaggregate_usda_coa_cropland_naics"
https://github.com/USEPA/flowsa/blob/9a22cb0654c63737fa5367f2d1e387e29a86a141/flowsa/flowbysector.py#L38

[2020-09-09 18:20] WesIngwersen commented on #30
@catherinebirney i think this was probably just not pushed

[2020-09-09 18:23] WesIngwersen commented on #29
on hold until #30  is resolved

[2020-09-12 19:09] catherinebirney commented on #29
Returning multiple levels of NAICS is done on purpose. Right now, we don't have a method to map thermo and aquaculture to the 6 digit level, so it stops at 4 digits. The code is set up to return NAICS 6 data if it exists, but if it does not, to return the most disaggregated level that exists. There are also some NAICS 5 because employment data doesn't always map to NAICS 6.

[2020-09-12 19:25] catherinebirney commented on #30
I wrote that function when I was figuring out method 2 for crop irrigation allocation - then decided to use a different allocation method. So disaggregate_usda_coa_cropland_naics does not exist and should not be called on in flowbysector. I'll remove the import call.

[2020-09-12 19:31] #30 closed

[2020-09-14 17:33] WesIngwersen commented on #29
@catherinebirney I proposed ti change this method to have target sector length to be Naics_4

[2020-09-14 17:39] catherinebirney commented on #29
@WesIngwersen Will do. This change is also necessary for m1.

[2020-09-14 17:49] WesIngwersen commented on #29
OK for the current usage but we'll need to get to 6 for a next method.

[2020-09-15 13:55] WesIngwersen commented on #29
Decided to generate 6 digit for water use m1 and m2 using simple arbitrary allocation for the couple sectors, thermoelectric and aquaculture, where we lack data

[2020-09-15 15:14] #29 closed

[2020-09-15 20:55] bl-young commented on #27
I'm still getting unexpected results where the allocation to sectors is wrong. I will post a more detailed update.

[2020-09-16 00:59] bl-young commented on #27
Its still unclear to me why we are removing NAICS in [line 119](https://github.com/USEPA/flowsa/blob/master/flowsa/mapping.py#L119) that already exist in the mapping file

[2020-09-16 14:33] catherinebirney commented on #27
Ok - I see how the current method of implementation can cause problems. The objective is to prevent existing data from being overwritten. For instance, in the USDA_IWMS mapping, we have:
ORCHARDS =1113
BERRY TOTALS =111334
I want the water application rates (acre-feet/acre) for orchards disaggregated to naics6, but I don't want the acre-feet/acre for berry totals to be overwritten by the orchards

[2020-09-16 14:41] bl-young commented on #27
But wouldn't you still want the value included in Orchards to apply to Berries just like all other subsets of 1113?

[2020-09-16 16:36] catherinebirney commented on #27
The issue is with how I set up the crosswalk for USDA IWMS. We can remove line 119 (and associated code).

[2020-09-18 18:42] bl-young opened #35 "Error when all flows are 0 for an activity"
For a particular activity, all flows are reported as zero. When that flow_subset is passed to `agg_by_geoscale` ([here](https://github.com/USEPA/flowsa/blob/master/flowsa/flowbysector.py#L165)), all flows that are 0 get dropped after aggregating. This generates an error later when sectors are added to that flow_subset.

[2020-09-18 19:18] #27 closed

[2020-09-18 19:19] bl-young commented on #27
resolved [here](https://github.com/USEPA/flowsa/commit/cbbf8c11d6e989841080e82fc733f973877552af#diff-745db6dafd49c11e9c97307f1af6d0b1)

[2020-09-18 19:34] bl-young opened #36 "get fba subset issue"
When using USDA crop data as allocation source, need to aggregate down from 7 --> 6 digit NAICs for cases when the crosswalk is already based on a six digit NAICS.

Similarly need to aggregate up from 5 --> 6.

That is, an activity that is split between two NAICS eg: 111140 & 111920 in the crosswalk, will get missed in the  `get_fba_allocation_subset` because it only appears as 11192.
Or a crosswa

[2020-09-18 19:35] bl-young commented on #36
I believe subsetting after the clean function, instead of before might do the trick

[2020-09-25 01:11] bl-young commented on #36
Resolved here https://github.com/USEPA/flowsa/commit/5c8a6310cfb5c6ca9bef9a854f78269d72644519

[2020-09-25 01:11] #36 closed

[2020-09-25 01:11] bl-young commented on #35
Resolved here: https://github.com/USEPA/flowsa/commit/5c8a6310cfb5c6ca9bef9a854f78269d72644519

[2020-09-25 01:11] #35 closed

[2020-09-28 16:14] bl-young commented on #1
This has been resolved with commit https://github.com/USEPA/flowsa/commit/1faa56fd70c8703e2e2ce43e1cc8ba52fb43aec4

[2020-09-28 16:14] #1 closed

[2020-09-30 19:21] bl-young opened #38 "Location for EIA_MECS_Land"
Location is hard coded but needs to use the variable instead of string
https://github.com/USEPA/flowsa/blob/master/flowsa/EIA_MECS.py#L157

[2020-11-17 21:37] #38 closed

[2020-12-02 17:41] WesIngwersen commented on #12
@catherinebirney  This is done, correct?

[2020-12-02 17:41] WesIngwersen commented on #11
@catherinebirney  This was resolved, correct?

[2020-12-02 17:46] catherinebirney commented on #11
yes

[2020-12-02 17:46] #11 closed

[2020-12-02 17:51] catherinebirney commented on #12
@WesIngwersen I'll have to look through the data - but no, I do not think this issue is resolved. The current work around is to use national level data when possible.

[2020-12-02 18:49] WesIngwersen opened #39 "Turn off logging from http requests"

[2020-12-02 18:51] WesIngwersen opened #40 "Add table of available flowbysector files to README"
Need a table like that for flowbyactivity of all available flowbysector

[2020-12-04 20:40] #39 closed

[2020-12-04 20:43] WesIngwersen opened #42 "Consider only allowing getFlowByActivity to take a single year and use an int"
This function as of now is just messy to send a list as opposed to a single year when we don't have any use cases for multiple years.
It would be just as easy for the user to call the function multiple times for multiple years (like in a loop) and concatenate.

If it takes a single year it will also be more consistent with getFlowBySector.

[2020-12-04 21:28] catherinebirney commented on #42
@WesIngwersen - I agree, I'll modify the function

[2020-12-05 12:42] WesIngwersen commented on #42
@catherinebirney please wait until after we pull in external_data which heavily transforms the __init__.py

[2020-12-15 13:59] #40 closed

[2021-01-21 14:53] bl-young opened #47 "Import error: No module named 'stewi.globals'; 'stewi' is not a package"
After installing with pip, attempting to access from flowsa:
...
  File "C:\Users\cbirney\git_projects\flowsa\flowsa\stewi.py", line 31, in stewicombo_to_sector
    import stewicombo
  File "C:\Users\cbirney\AppData\Local\Programs\Python\Python37\lib\site-packages\stewicombo\__init__.py", line 5, in <module>
    from stewicombo.overlaphandler import aggregate_and_remove_overlap
  File "C:\Users\cb

[2021-01-21 15:05] WesIngwersen commented on #47
A potential problem I see with this stewi.py module is the use of the import statements within functions instead of making them global to the module.  I would suggest moving them out of the functions to the top and then seeing if this doesn't solve the issue

[2021-01-21 15:10] bl-young commented on #47
I was concerned with having an import stewi command at the top, which would force an import of stewi or stewicombo even if not needed, and perhaps wasn't installed.

As another possible problem, it seems that naming this file stewi.py could also be causing confusion. http://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html#the-name-shadowing-trap

Perhpas this could be

[2021-01-21 15:12] catherinebirney commented on #47
@WesIngwersen @bl-young I renamed stewi.py in flowsa (only locally so far) which resolved the error

[2021-01-21 15:31] #47 closed

[2021-01-23 20:00] WesIngwersen opened #49 "Check that NAICS coming in from NAICS like sources is present in our NAICS list for the given year"
This is an issue discovered by @bl-young with a NAICS code coming in from RCRA via stewi that was not a valid 2012 NAICS code.
Related issue is here https://github.com/USEPA/useeior/issues/83

In any NAICS like sources we need to check that NAICS codes are in our NAICS code list.  If they are not present, we probably need to check if they are present in an older NAICS schema and see if we can appl

[2021-01-23 20:08] bl-young commented on #49
This is more prevalent than those five flows in useeior suggest, as those flows only show up because they are _only_ found with those NAICS, but many other flows also use improper NAICS

[2021-01-26 14:07] catherinebirney commented on #49
@WesIngwersen @bl-young I'll address this issue while I'm working through updating the code to incorporate changes from the MasterCrosswalk

[2021-01-26 14:14] bl-young commented on #49
thanks! These data are coming from stewi and stewicombo, so depending on how you implement it, these data may already pass through the necessary function or we can add in `prepare_stewi_fbs` [here ](https://github.com/USEPA/flowsa/blob/master/flowsa/stewiFBS.py#L187)

[2021-01-26 14:18] catherinebirney commented on #49
Ah right, thanks for the reminder - I will keep that in mind

[2021-02-01 17:26] catherinebirney commented on #49
An update on this issue: I have a function that checks NAICS and outputs NAICS that are not NAICS 2012. The problem that I'm working through now is that NAICS 2007 -> NAICS 2012 is not necessarily a 1:1 mapping. For example NAICS 2007 '221119' maps to NAICS 2012 '221114', '221115', '221116', '221117'. and '221118'. Are there existing allocation ratios? Should I evenly allocate '221119' to the 5 NA

[2021-02-01 17:45] bl-young commented on #49
In my mind, I would expect that NAICS changes would be more likely than not to still be within the same BEA sector. So for consistency with other approaches, I think evenly allocating across the many NAICS mappings is the way to go. The particular example you describe is hopefully one that would be better resolved by the electricity disaggregation...but the point still holds. It seems it would tak

[2021-02-01 18:44] catherinebirney commented on #49
Thanks Ben - I agree. I will equally allocate.

[2021-02-01 22:01] WesIngwersen commented on #49
OK this is fine for now since its unconsequential for our use cases. Let's just make sure its documented.

[2021-02-02 19:05] WesIngwersen opened #52 "Add stewi requirement to setup and requirements"
Since stewi is called it needs to be added. See the fedelemflowlist example for how to add a github package. Make sure the specific release is specified and not a >=.

[2021-02-02 20:24] bl-young commented on #52
I wonder if something like an [optional requirement](https://setuptools.readthedocs.io/en/latest/userguide/dependency_management.html#optional-dependencies) would be more appropriate using `extras_require` since StEWIis only needed in some FBS.

[2021-02-02 22:28] WesIngwersen commented on #52
Yes @bl-young I agree that this is a good approach - an optional requirement. We have to figure out how to document that.

[2021-02-05 22:00] bl-young commented on #49
confirmed that this is working for me outside of that NAICS we identified from 2002 (541710)

[2021-02-08 13:08] catherinebirney commented on #49
I will pull in the 2002 naics to the crosswalk to convert '541710' to naics 2012

[2021-02-08 16:50] catherinebirney commented on #49
I added the 2002 crosswalk, so '541410' successfully converts to NAICS 2012

[2021-02-08 16:50] #49 closed

[2021-02-18 00:14] WesIngwersen opened #59 "Datachecks expecting files in output folder for comparison"
Error occurs here
https://github.com/USEPA/flowsa/blob/c6032b888d389cc471aa62f35f1fb84c5480ddc9/flowsa/datachecks.py#L398

Flowbysector calls this function and it fails ..user would not be expected to have the file it looks for in  the output folder

[2021-02-18 00:49] WesIngwersen commented on #59
This is the other case
https://github.com/USEPA/flowsa/blob/c6032b888d389cc471aa62f35f1fb84c5480ddc9/flowsa/flowbysector.py#L393

I'm commenting these calls to these functions in flowbysector now in my work in the external_data branch

[2021-02-18 02:16] WesIngwersen commented on #59
Yet another is in
 check_allocation_ratios

[2021-02-18 13:21] catherinebirney commented on #59
Okay thanks, I'll look into the errors - These three functions don't call on any files found in the outputfolder, but they do save a csv to the output folder, which is likely the problem

[2021-02-18 14:03] WesIngwersen commented on #59
Ah yes, correct, thanks for clarifying that. I think we should just write those to the same output folder now controlled with that path object. You can help decide if they should be within the FlowBySector folder or another. If its s new folder then we have to assure that we create it before trying to write to it.

[2021-02-18 14:06] catherinebirney commented on #59
I agree that the files should be stored in the local directory, in a folder other than FlowBySector. Right now they are stored in a folder called FlowBySectorMethodAnalysis

[2021-02-18 20:32] WesIngwersen opened #60 "Remove class param from flowbyactivity"
The class parameter and in a list format that is awkward and perhaps not necessary to have in fba.  We could easily remove the class requirement and users could apply a simple subset command if they wanted to get only one class.

[2021-02-18 20:33] WesIngwersen commented on #60
@catherinebirney If flowbyactivity calls are being updated as part of the external_data calls, this could be done at the same time.

[2021-02-18 20:36] WesIngwersen opened #61 "version is outdated"
Version # in setup still show v0.0.1 even though there is a tag/release for a previous version as v0.0.2

https://github.com/USEPA/flowsa/blob/c6032b888d389cc471aa62f35f1fb84c5480ddc9/setup.py#L5

[2021-02-18 21:13] catherinebirney commented on #60
@WesIngwersen We can make class a parameter in the FBS method yaml

[2021-02-19 00:50] WesIngwersen commented on #60
This issue refers to the init  getFlowByActivity method and not FBS

[2021-02-19 12:40] catherinebirney commented on #60
I understand, I'm thinking through the implications changing getFlowByActivity will have on FBS.

What if we made class an optional parameter to getFlowByActivity? Otherwise we'll have to subset the dataframe every time it is called in FBS and it would be nice if that feature is already built in (like it is now)

[2021-02-19 15:30] WesIngwersen commented on #60
Yes, I agree an optional parameter would make more sense.  Does it need to be list?  Ideally it could also be a string. I think calling functions with lists as parameters is just a bit awkward in the syntax. It would be possible to write a function that could take that optional parameter as  a string or multiple strings. I would recommend reviewing this post which has a nice discussion about best

[2021-02-19 15:38] catherinebirney commented on #60
Right now, we never call on more than one class at a time, so the parameter can be a string. Thanks for the stackoverflow link

[2021-03-02 18:03] catherinebirney opened #66 "requirements.txt compatibility error between flowsa and esupy"
Differences in package version requirements between flowsa and esupy throw errors
See:
https://github.com/USEPA/esupy/blob/main/requirements.txt
and
https://github.com/USEPA/flowsa/blob/master/requirements.txt

@WesIngwersen

[2021-03-02 18:28] catherinebirney commented on #61
updated the version

[2021-03-02 18:28] #61 closed

[2021-03-02 18:28] catherinebirney commented on #60
class parameter is optional and is a string rather than a list

[2021-03-02 18:28] #60 closed

[2021-03-02 18:30] catherinebirney commented on #42
getFlowByActivity modified so year parameter is an integer and single year

[2021-03-02 18:30] #42 closed

[2021-03-04 15:37] catherinebirney commented on #59
modifed so files stored in local directory

[2021-03-04 15:37] #59 closed

[2021-03-04 15:43] catherinebirney opened #67 "parquet version number based on user's egg-info"
The version number attached to a FBA or FBS parquet is based on the version in a user's directory flowsa.egg-info/PKG-INFO. The pkg-info is creating when a user runs pip installl -e flowsa.

To update egg-info, a user can run: python setup.py bdist_egg

Consider making an updateable version parameter that is called on when naming parquets?

@WesIngwersen @bl-young

[2021-03-04 16:31] WesIngwersen commented on #67
@catherinebirney Good finding.  I tested this and confirmed that pulling code, even with flowsa installed as -e (which means it will update it), it does not increment the version number in

 even if the setup.py file has an updated version number. I also confirmed that running

does increment the version number
So this is one solution
But are you suggesting that instead of that, we add a version s

[2021-03-04 17:02] bl-young commented on #67
The second option seems a bit simpler, despite having to update the version number in two places. I seem to recall attempting to use a variable name in steup.py like:
[code]
But I think you'd have to import version_number from the package, which doesn't work of course.

This would essentially eliminate the need for pkg_resources at all. However, are there other package details that we might want t

[2021-03-04 17:35] catherinebirney commented on #67
Credit goes to Ben for both finding the issue and the proposed solution.

I agree with the second option as well. We can write a function that will print a warning if the version number in setup.py and the version we manually assign to a variable do not match.

[2021-03-10 17:12] bl-young opened #69 "datachecks FBA/FBS comparison throwing error"
I'm getting an error occured message in this try/except [here](https://github.com/USEPA/flowsa/blob/master/flowsa/datachecks.py#L506-L546)

[2021-03-10 18:18] bl-young commented on #69
Its the FBA_total_to_FBS_total file that's not getting saved

[2021-03-19 17:02] bl-young commented on #69
This has been resolved

[2021-03-19 17:02] #69 closed

[2021-03-22 13:28] catherinebirney commented on #66
modified the package versions in esupy - fixed compatibility errors

[2021-03-22 13:28] #66 closed

[2021-03-22 13:41] bl-young opened #74 "export log to txt"
Given the amount of information in the logger, it would be nice to save this output after generating an FBS

[2021-03-22 20:46] WesIngwersen commented on #74
Yes I agree and same plan as for useeio models for record keeping and review.

[2021-05-29 00:22] bl-young opened #80 "pyarrow dependency conflicts"
The [pyarrow dependency](https://github.com/USEPA/flowsa/blob/master/setup.py#L19) conflicts with some other EPA packages. I'm not even sure its needed anymore with esupy

[2021-06-21 17:47] bl-young opened #82 "Need warning when attempting to obtain data for unavailable year"
`fba = flowsa.getFlowByActivity(datasource="EIA_MECS_Energy", year=2017)`
returns a bad zip file error because 2017 doesn't exist for EIA_MECS

Perhaps flowbyactivity could check against the list of years in the [FBA yaml](https://github.com/USEPA/flowsa/blob/master/flowsa/data/flowbyactivitymethods/EIA_MECS_Energy.yaml#L14-L16). This would also help prevent errors when new data are released (e.g.

[2021-06-23 20:41] bl-young opened #83 "dynamically_import_fxn breaking for stewi"
Accessing the FBS_outside_flowsa functions through the dynamic import is failing for stewi related data. I think the yaml's need to be revised

```ModuleNotFoundError: No module named 'flowsa.data_source_scripts.stewicombo'```

[2021-06-23 20:42] bl-young commented on #83
@catherinebirney  sorry  I didn't catch this on your last pull request - only tested the FBAs.

[2021-06-24 12:02] catherinebirney commented on #83
I'm having issues running CAP_HAP_national_2017 to help address this issue.

`File "...flowsa\data_source_scripts\stewiFBS.py", line 40, in stewicombo_to_sector`
    `import stewicombo`
`ModuleNotFoundError: No module named 'stewicombo'`

I've had this error before - and did fix it at some point. It might be because stewi is not in the package requirements/setup? For fedelemflowlist and esupy, we

[2021-06-24 12:06] bl-young commented on #83
its looking for a .py file within flowsa called stewicombo.py
this https://github.com/USEPA/flowsa/commit/2c634682734e416245ce97fafae9dac1e837793c fixes it I think. need to confirm and I will open a pull request

[2021-06-24 12:07] bl-young commented on #83
sorry read too quickly, stewicombo should be installed when you install the whole stewi package.

[2021-06-24 12:16] catherinebirney commented on #83
yep - `pip install -e standardizedinventories` fixed my issue. The CAP_HAP fbs is running for me, so I think the changes to the source name worked

[2021-06-24 14:02] catherinebirney commented on #82
Added this enhancement - currently in fba_dev branch

[2021-06-24 14:02] #82 closed

[2021-06-28 19:00] catherinebirney commented on #52
@bl-young I looked into using `extras_require` - from what I can tell it is generally used if there are sub-packages within a package (so like what you are doing with standardizedinventories). Given how flowsa is set up and how StEWI is integrated into flowbysector.py, I think the best approach is to make StEWI a requirement. Let me know what you think.

[2021-06-28 20:54] bl-young commented on #52
I'm fine with that. the v1.0 release of stewi will be much slimmer so its less necessary to avoid having it as a requirement

[2021-06-30 11:49] catherinebirney commented on #52
Added stewi to requirements

[2021-06-30 11:49] #52 closed

[2021-06-30 11:51] catherinebirney commented on #74
Log is exported to Local/flowsa/Log

[2021-06-30 11:51] #74 closed

[2021-06-30 12:54] catherinebirney commented on #80
No longer need pyarrow, so removed from requirements/setup

[2021-06-30 12:54] #80 closed

[2021-07-07 19:59] catherinebirney opened #88 "Set requirements to specific versions"
Per @a-w-beck's recommendation, set the packages in requirements.txt and setup.py to specific version numbers, rather than using ">=" or "<" to prevent flowsa code from breaking

[2021-08-16 13:40] bl-young opened #95 "Make FBA cleaning functions optional in yaml"
Currently these two parameters need to be set to None; if they are not present a KeyError is raised. As is done for some other parameters, the presence of these specs could be tested first. This would reduce unnecessary information in the FBS method files.

https://github.com/USEPA/flowsa/tree/master/flowsa/data/flowbysectormethods#source-specifications-in-fba-or-fbs-format

[2021-08-23 19:38] melissagqc opened #100 "XLRD issue."
File "C:\Users\MelissaC\Envs\flowsa\lib\site-packages\xlrd\__init__.py", line 170, in open_workbook
    raise XLRDError(FILE_FORMAT_DESCRIPTIONS[file_format]+'; not supported')
xlrd.biffh.XLRDError: Excel xlsx file; not supported

Occurred when running --year 2012 --source EIA_CBECS_Land.

[2021-08-23 19:46] WesIngwersen commented on #100
we are using `openpyxl` for the xlsx file type so this code needs to be updated to use that library

[2021-08-23 19:53] catherinebirney commented on #100
Thanks @WesIngwersen

[2021-08-30 13:55] catherinebirney commented on #100
@melissagqc Can you run the EIA_CBECS_Land FBA in the 'xlrd' branch and see if the error is fixed? Thanks!

[2021-09-02 21:01] catherinebirney commented on #100
solved by updating pandas requirement to 1.3.2 and xlrd to 2.0.1

[2021-09-02 21:01] #100 closed

[2021-09-03 15:38] dpgraham4401 opened #103 "esupy 'dependency conflict'"
Howdy,
I'm receiving the following error when following the installation instructions.

[code]
steps to recreate
[code]

pip version 21.0.1
python version 3.9.6
Following the installation instructions outside of a virtual environment was also unsuccessful.

I was able to successfully install a fork by changing the 'git' to 'https' in setup.py but then I ran into more import problems and wasn't sur

[2021-09-07 13:15] catherinebirney commented on #103
Thanks @dpgraham4401. Will fix this error today with a new release of flowsa.

[2021-09-07 14:21] bl-young commented on #103
@catherinebirney I didn't realize that this would cause an issue:
    flowsa 0.2.1 depends on esupy 0.1.7 (from git+**_https:_**//github.com/USEPA/esupy@v0.1.7#egg=esupy)
    stewi 0.9.9 depends on esupy 0.1.7 (from git+_**git:**_//github.com/USEPA/esupy@v0.1.7#egg=esupy)

I believe git is correct but i'm not positive

[2021-09-07 15:20] bl-young commented on #103
@catherinebirney ok i've released 0.10.0 of stewi, lets try pointing to that to see if this gets resolved

[2021-09-07 20:10] catherinebirney commented on #103
@dpgraham4401 Can you try again? The update to the stewi version should fix the error.

I created a [new wiki page ](https://github.com/USEPA/flowsa/wiki/Install-for-Developers)for installing flowsa as a developer. Following the install instructions as they were written might have also contributed to the errors.

[2021-09-07 21:29] dpgraham4401 commented on #103
@catherinebirney  the [current install instructions](https://github.com/USEPA/flowsa/wiki/Install-&-Run) still point to the v0.2.1 tag which includes a requirement for stEWI 0.9.8 :)

[code]

I can successfully install by removing the tag from like such
```pip install git+https://github.com/USEPA/flowsa```

but when I try to import I'm getting additional error(s), I will try to look into this toni

[2021-09-08 02:59] catherinebirney commented on #103
@dpgraham4401 I released v0.3 of flowsa (and updated the wiki install instructions). Let me know if continuing to get errors.

[2021-09-08 11:37] #88 closed

[2021-09-08 11:38] catherinebirney commented on #95
recent pull into master drops the two parameters

[2021-09-08 11:38] #95 closed

[2021-09-08 11:40] catherinebirney opened #111 "materialflowlist import error"
Running "CRHW_national_2017" returns error:

    import materialflowlist as mfl
ModuleNotFoundError: No module named 'materialflowlist'

@bl-young We need to add materialflowlist to package requirements/setup. Do you have a specific version? Or did you want to make this package an optional requirement?

[2021-09-08 12:10] bl-young commented on #111
With the updated mapping process, fedelemflowlist and materialflowlist are not longer called directly from within flowsa, so this is actually in esupy.

Perhaps we should move requirements for both to esupy? There are no releases yet for materialflowlist, in the meantime we could wrap these with an `except ImportError`. The mapping for CRHW doesn't actually do anything yet...

[2021-09-08 12:34] catherinebirney commented on #111
your commit fixed the error - I'll close this issue out and make a jira task to look into dropping the fedelemflowlist package from flowsa

[2021-09-08 12:34] #111 closed

[2021-09-08 12:35] bl-young opened #112 "log files saved with _None in filename"
If no git hash is identified, the log files are stored as e.g.,:
`CRHW_national_2017_v0.3_None.log`

When saving files in esupy there is a check first for this parameter before appending to the name.
https://github.com/USEPA/esupy/blob/main/esupy/processed_data_mgmt.py#L242-L243

[2021-09-08 12:45] #103 closed

[2021-10-15 16:48] bl-young opened #120 "module not found error"
I believe the nested structure of the .py files leads to import issues
see: https://github.com/USEPA/flowsa/runs/3907368775?check_suite_focus=true

I think this can be resolved by including __inti__.py in each subdirectory (e.g. data_source_scripts)

https://sweetcode.io/python-file-importation-multi-level-directory-modules-packages/

[2021-10-15 19:22] catherinebirney commented on #120
Ah ok, this might explain the import errors Andy got while testing. I'll look into it

[2021-10-15 19:50] #120 closed

[2021-10-30 21:34] WesIngwersen opened #124 "flownames in EPA GHG fbas"
FlowNames stored in GHG fbas need to be corrected
Flownames in the GHGI generally are CO2, CH4, N2O for main gases

reported from stored fba files

examples:
in T_2_1: `Recent_Trends...`   this must be replaced with the gas name like above
in T_3_10: `CH4 Emissions from Stationary Combustion` should be `CH4`

These all need to be reviewed and fixed.
fyi @catherinebirney

[2021-11-01 12:20] catherinebirney commented on #124
@WesIngwersen @melissagqc
There were some updates to the GHG files that are still in the melissa_dev branch that need to be pulled in. I know the 'Activity' columns were modified, will have to run that branch to see if the FlowNames were also modified

[2021-11-17 18:07] matthewlchambers opened #138 "Possible infinite loop in common.py"
In `common.find_true_file_path()`, if the directory, filename, and extension do not combine into a valid path, and if removing chunks of the filename following `_` does not lead to a valid path (e.g. due to a typo, or an error in the directory or extension), the function can get stuck in an infinite loop.

[2021-11-17 18:57] catherinebirney commented on #138
@matthewlchambers fixed the infinite loop with pull request #139

[2021-11-17 18:57] #138 closed

[2021-11-17 23:04] catherinebirney commented on #112
@mathewlchambers fixed with PR #141

[2021-11-17 23:04] #112 closed

[2021-11-18 19:22] matthewlchambers opened #142 "Joblib cache arbitrarily located, can fail"
If the joblib cache is located in `'.cache'`, then it attempts to create the `'.cache'` directory in the current working directory, wherever that may be. If the user does not have permissions there, then importing `flowsa` fails.

[2021-11-18 20:16] catherinebirney commented on #142
fixed by @matthewlchambers with PR #143

[2021-11-18 20:16] #142 closed

[2021-11-23 17:36] WesIngwersen commented on #124
Resolved

[2021-11-23 17:36] #124 closed

[2021-12-08 15:53] matthewlchambers opened #148 "Underutilization of `.yaml`s"
Raising this as an issue now for awareness and discussion. I think we are currently hardcoding too many things in the data source script `.py` files and not making enough use of the `.yaml` files. For example, information on how to modify the NEI data url for different years, or information on how columns should be renamed (again, I'm thinking about the NEI data source in particular at the moment)

[2021-12-08 22:38] catherinebirney opened #149 "Allow for more than 2 FBAs in allocation of an FBS activity set"
Current method only allows for "allocation_source" and "helper_source" FBAs for FBS activity set allocation. Modify the FBS yaml to allow for unlimited FBAs to be called for allocation. Changing methodology will make methodology more transparent and limit the number of FBAs hardcoded into cleaning functions.

[2021-12-08 22:44] catherinebirney commented on #149
@WesIngwersen @bl-young @matthewlchambers

See [water m3](https://github.com/USEPA/flowsa/blob/fbs_yaml_refac/flowsa/data/flowbysectormethods/Water_national_2015_m3.yaml) for initial refactoring efforts. These changes will require an additional function for the "disaggregation" method created in activity set 4. I also expect the formatting to change once I start modifying the code. Let me know you

[2021-12-10 21:12] matthewlchambers commented on #148
To this point, for the EQUATES data it would be extrememly helpful if I could pass the `.yaml` information to the calling and parsing functions. I see two possible ways to do this: 1.) Combine the `config` dict into `args` before passing it; 2.) Add `config` as an arg to all the calling and parsing functions. 1 is easier, 2 is more consistent with how other `source.py` function work (and we should

[2021-12-10 21:15] catherinebirney commented on #148
I agree with method 2

[2021-12-15 16:46] bl-young opened #151 "NAICS in stewicombo highly sensitive to FRS data"
Assigning stewicombo data to sectors uses FRS NAICS assignments. In some cases, multiple NAICS are listed for an individual dataset. The first listed NAICS for a specific inventory in the FRS system is used.

In some cases the available NAICS are wildly different.

https://github.com/USEPA/flowsa/blob/c31cd449feab9d9bfecedfd57b46ad62924b2abe/flowsa/data_source_scripts/stewiFBS.py#L86-L94

[2021-12-16 20:56] bl-young opened #152 "add exception for missing url"
What is the case where the url_list is going to be empty?

Should this throw some kind of exception?

This check may be better off in `assemble_urls` or in `main()`

https://github.com/USEPA/flowsa/blob/e81ecbe9ccef9cc7a11f48387a146fc3abb88b39/flowsa/flowbyactivity.py#L124

[2021-12-16 21:23] bl-young commented on #148
@matthewlchambers your option 2 above is implemented in #150 correct?

Once that gets pulled in I can refactor the NEI, EIA_MECS, and ghgrp yamls to consolidate that information.

[2021-12-16 21:38] matthewlchambers commented on #148
@bl-young Yes, that's correct!

[2021-12-21 22:05] matthewlchambers commented on #152
Strictly speaking, the list won't be empty; it will have `'None'` as the first entry if the `source.py` file has `None` as the value for `url`. This is the case for several data sources, including the BEA data.

[2021-12-21 22:06] matthewlchambers commented on #152
I'm not sure there's a better place for this check, as things stand, but I do suspect there might be a better way of dealing with data sets that don't have a url.

[2021-12-22 22:17] bl-young commented on #148
Updates have been made for NEI, GHGI, and EIA_MECS. We can consider others as we need to update them. Should we close this issue for now?

[2021-12-27 17:51] bl-young commented on #152
right, ok makes sense to me. I'll close this.

[2021-12-27 17:51] #152 closed

[2021-12-28 18:02] matthewlchambers commented on #148
Sorry, didn't see your comment until now. Yes, I think it can be closed.

[2021-12-28 18:02] #148 closed

[2022-01-11 15:58] WesIngwersen opened #166 "URL concatentation missing '&' when forming Quickstats"
When indirectly calling on the code to generate the FBA for the CoA Cropland, it creates this URL where the xxxx is a valid API key

[code]
I can see that after the key value there is no ampersand to indicate the next URL parameter

[2022-01-11 16:14] catherinebirney commented on #166
@WesIngwersen If you add the ampersand does the link work?
When I add an ampersand I get the error

[2022-01-11 16:34] WesIngwersen commented on #166
ah i just assumed i didn't try it.. yes I get the same error. So something else is going on with that URL not working with the current API

[2022-01-11 16:54] catherinebirney commented on #166
The url generation works in master. For some reason in the ghg branch spaces in the url are replaced with "+" while in the master branch spaces are replaced with "%20". I'm looking into the code changes in the ghg branch that modify url creation

[2022-01-11 19:22] catherinebirney commented on #166
@bl-young @WesIngwersen The url error stems from the changes Ben linked. I fixed the issue for the USDA data, but need to recreate other FBAs before committing changes to make sure I don't break any other url imports

Wes, the USDA data are in the sharepoint folder if you want to skip FBA generation for now

[2022-01-13 17:44] bl-young opened #168 "consider moving methods to separate folder"
I find the methods can get a little bit lost within the `data` folder next to many of the other subfolders. Would it make sense to move [flowbysectormethods](https://github.com/USEPA/flowsa/tree/master/flowsa/data/flowbysectormethods) and [flowbyactivitymethods](https://github.com/USEPA/flowsa/tree/master/flowsa/data/flowbyactivitymethods) up a level into a folder called `methods`?

[2022-01-13 17:45] catherinebirney commented on #168
@bl-young Yes, I agree the methods should be moved

[2022-01-13 17:53] catherinebirney commented on #166
url error is fixed

[2022-01-13 17:53] #166 closed

[2022-01-13 19:36] WesIngwersen commented on #168
Keeping in mind perhaps the consideration to make flowsa accept external methods and crosswalks.

[2022-01-18 20:40] catherinebirney commented on #168
@bl-young @matthewlchambers @WesIngwersen
I moved the fba/fbs methods and fbsactivitysets to a new methods directory in [3f651080](https://github.com/USEPA/flowsa/commit/3f651080c576be5fe758a82aefcdcbb943867d42) and [818e56d](https://github.com/USEPA/flowsa/commit/818e56d02f768e229b018dd4e921a4b9c0e8830d)

[2022-01-21 17:59] #168 closed

[2022-01-25 13:11] WesIngwersen opened #172 "Permit user passed FBS YAML"
Allow flow-by-sector YAMLs to be kept outside of the package and passed for processing in a getFlowBySector() call. This will allow development of FBS methods outside of the main flowsa repo

[2022-01-27 17:45] matthewlchambers opened #175 "Transportation Satellite Account FBA not generating properly"
I've verified that the TSA data frame is correctly parsed by the `tsa_parse()` function from `BTS_TSA.py`, but then the FBA is empty. So somewhere between the data frame being parsed and the final FBA being written, all the rows are dropped. I've spent some time on it, but I may need some help figuring out this issue.

[2022-01-28 12:54] #175 closed

[2022-02-11 15:09] bl-young opened #179 "FBA `Unit` field format specs incorrectly require SI units"
I think our working method for FBA is to stick with the units in the source itself, correct?

https://github.com/USEPA/flowsa/blob/develop/format%20specs/FlowByActivity.md

![image](https://user-images.githubusercontent.com/44471635/153616280-61fa66bb-803c-4427-8890-c91969f90a42.png)

[2022-02-11 18:42] catherinebirney commented on #179
Thanks @bl-young corrected here [a0eb6b9](https://github.com/USEPA/flowsa/commit/a0eb6b94534834a9cd8da7e13aeac7ada679e3b2)

[2022-02-11 18:42] #179 closed

[2022-02-22 11:43] bl-young commented on #172
Currently running an FBS from an external method breaks the versioning scheme of the generated file, e.g.: `GHG_FBS_Example_ved3b801_ed3b801.parquet`

[2022-02-24 21:51] catherinebirney commented on #172
I corrected the version number [ef5adc9](https://github.com/USEPA/flowsa/commit/ef5adc91dfeea13ecc7ec93b0cf292436e552604), but have not yet corrected that the git hash is generated by the repo the script is located, rather than flowsa's most recent hash

[2022-03-02 18:58] bl-young opened #182 "Identify changes in FBS results upon pull request"
With changes in code, we need to ensure that there are not unintended consequences to existing FBS.

Consider a gh_action to compare latest FBS on data commons with one generated with existing FBAs on data commons.

The goal is identify changes exclusively from changes in code.

[2022-03-03 02:56] bl-young commented on #182
This has been initiated with a [new action](https://github.com/USEPA/flowsa/actions/workflows/compare_FBS_to_remote.yml) on the `fbs_action` branch. It required some adjustments to the package installation to ensure the necessary method files and supporting data are included on install.

[2022-03-03 13:38] bl-young opened #183 "address Warnings in actions"
The actions (e.g. [here](https://github.com/USEPA/flowsa/runs/5401472246?check_suite_focus=true)) are revealing a number of `FutureWarnings`, many around `frame.append`.

Frame.append is [deprecated](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.append.html) since pandas 1.4.

There are also some DeprecationWarnings related to regex [here](https://github.com/USEPA/flowsa/runs/54014

[2022-03-03 13:40] bl-young commented on #182
Currently one of the roadblocks is generating the necessary StEWI datasets upstream. While the stewicombo emissions files are sourced from data commons, the facility files which are also needed are not.

[2022-03-04 01:17] bl-young opened #184 "Error in generating USDA_CoA_Cropland_NAICS during water_national_2015_m2"
When generating water_national_2015_m2, the method generates an error during activity_set_4 when trying to generate USDA_CoA_Cropland_NAICS through the `disaggregate_pastureland` function.

https://github.com/USEPA/flowsa/blob/8d7b939695e7d3f70a16187ef8973975af7487d8/flowsa/data_source_scripts/USDA_IWMS.py#L146-L153

In line 146 year gets converted to a list.
[Note the logger shows the year as a l

[2022-03-04 02:59] bl-young commented on #182
@MoLi7 or @a-w-beck, I'm generating the files with the actions but am having trouble getting the path right to upload the artifact.
See: https://github.com/USEPA/flowsa/runs/5416908251?check_suite_focus=true
Any ideas?

I'm printing out the path where its saved within the package [here](https://github.com/USEPA/flowsa/runs/5416908251?check_suite_focus=true#step:6:46) but I can't seem to get back t

[2022-03-04 04:15] MoLi7 commented on #182
It looks like the file was save to the `flowsa` package installed under `/lib/python3.10/site-packages` instead of the `/data` folder in the repo, see https://github.com/USEPA/flowsa/runs/5416908251?check_suite_focus=true#step:6:46.
Could you try to replace `outdir` in https://github.com/USEPA/flowsa/blob/fbs_action/flowsa/test_FBS_against_remote.py#L16 with `/flowsa/data` in the repo?

[2022-03-04 13:00] bl-young commented on #182
yes, that `datapath` variable in flowsa is just the `/flowsa/data` folder within the package

I'm wondering if the pip install in this case manifests differently than how you set it up in R such that the package gets installed deep within site-packages but there is a copy of the repo more locally

[2022-03-04 13:49] catherinebirney commented on #184
Addressed with [8f874e6](https://github.com/USEPA/flowsa/commit/8f874e6e2e5223a6aa6b134936db25035f4ed3e8)

[2022-03-04 13:49] #184 closed

[2022-03-04 16:33] MoLi7 commented on #182
Did you pip install flowsa in this case? If not, `checkout` ([this step](https://github.com/USEPA/flowsa/actions/runs/1931625408/workflow#L17)) should ensure the repo is cloned on gh runners, this is the same with how I set it up in R. I still think the issue is with `outdir`, maybe give it a try to not use `datapath` to set it up?

[2022-03-04 21:34] bl-young commented on #182
I think its slightly different because we need to use the installed version not just run a script from the cloned repo. Either way, @a-w-beck and I were able to work through and figure out the path we needed to point to get to the data that gets hosted in the installed package
[code]

[2022-03-04 21:40] MoLi7 commented on #182
Oh I see. It makes sense that you need to use the installed version. Glad you guys figured out the correct path.

[2022-03-05 00:31] bl-young commented on #182
@WesIngwersen , @catherinebirney
[This action](https://github.com/USEPA/flowsa/actions/runs/1935983319) is now generating all FBS and comparing to data commons. Differences are logged in csv, downloadable as an artifact. This also then confirms that each FBS can be created successfully. Differences in FBS do not generate an error, but failure to generate the FBS will.

Take a look - I will do some

[2022-03-16 14:42] matthewlchambers opened #192 "Error while generating FBA for GHGI table A-18"
File "w:\Air Emissions Physical Flows Account\Code\GHGbyindustrydocs\flowsa_FBS\generateExternalFlowBySector.py", line 28, in <module>
    flowsa.flowbysector.main(method=method, fbsconfigpath=fbsMethodPath)
  File "\\serv02cl\ODResearch\Chambers\Air Emissions Physical Flows Account\Code\flowsa-main\flowsa\flowbysector.py", line 299, in main
    fbs = dataset_allocation_method(
  File "\\serv02cl\

[2022-03-16 18:07] bl-young commented on #192
There is a problem with `EPA_GHGI_T_A_18` (a table only available in 2012).

When trying to run `m1`, it's looking for `EPA_GHGI_T_A_79` 2012 as an allocation source. If you don't have it locally it will try to generate all GHGI tables for 2012, hence the error.

Are you able to generate the FBAs for years besides 2012? This table is the only one I've found so far causing this error.

[2022-03-16 18:42] bl-young commented on #192
I will look into what's going wrong with the parsing of A-18, in the meantime you can remove it from `EPA_GHGI.yaml` if you want to run `m1`. The FBS will be fine without A-18.

[2022-03-16 20:31] matthewlchambers commented on #192
Sounds good. I've been able to generate other FBAs, so I'll remove it from `EPA_GHGI.yaml` and try that. Thanks!

[2022-03-17 00:52] bl-young commented on #192
A-18 csv file has an extra blank row not present in the other annex tables which was causing this error

[2022-03-17 00:53] bl-young commented on #192
@matthewlchambers if you can confirm this works on your end we can close this issue

[2022-03-17 17:37] matthewlchambers commented on #192
Works great! Thanks!

[2022-03-17 21:23] matthewlchambers opened #193 "EQUATES FBA not generating"
An index error is thrown while trying to generate an FBA for the `EPA_EQUATES` data source.

[2022-03-18 12:30] #193 closed

[2022-04-12 14:31] #182 closed

[2022-04-13 20:08] #151 closed

[2022-04-22 16:53] bl-young opened #212 "EIA MECS 2018 uses NAICS 2017 system"
I don't think we have `SectorSourceName` as a field for FBAs. I'm not yet sure exactly how we would consider the change in NAICS system, but the revised data reflects 2017 naics codes and not 2012

[2022-05-06 13:37] catherinebirney commented on #212
@bl-young We do not have SectorSoureName in FBAs. We do have a[ function ](https://github.com/USEPA/flowsa/blob/develop/flowsa/validation.py#L651) that checks that sector-like columns are NAICS 2012 codes during FBS creation. We could add in the FBA description col that the data are NAICS 2017 and modify the validation function to convert NAICS 2017 to NAICS 2012 (if the sector source name in the

[2022-05-10 19:54] bl-young opened #216 "Custom exceptions"
It might be nice to start using more custom exceptions for better code traceback and error handling.

This would predominantly apply in places where we use `log.error` for code breaking issues.

[2022-05-11 18:13] bl-young opened #217 "USGS_MYB url issues"
Many USGS Mineral Yearbook survey files are returning an access denied response even when accessing via browser

e.g. https://www.usgs.gov/centers/national-minerals-information-center/gold-statistics-and-information and select one of their older yearbook files

[2022-05-11 19:52] matthewlchambers commented on #216
In some cases, we may not even need custom exceptions, just using `try: . . . except <Exception>:` blocks, with `log.exception` in the `except` clause. According to [this documentation](https://docs.python.org/3/library/logging.html#logging.exception), that should include the traceback along with our desired logging error message.

[2022-05-13 15:59] bl-young opened #219 "metadata issues with runner generated FBS"
- [x] metadata for stewiFBS not being incorporated: ``` "stewiFBS": {"NEI": null, "TRI": null}```
- [ ] version number and githash of FBS are not assigned: e.g. `CRHW_national_2017_vNone_metadata.json`
- [ ] log files are not reset after each FBS so are increasingly long for each subsequent FBS

[2022-05-16 22:14] #172 closed

[2022-05-17 17:35] bl-young opened #223 "Census_CBP missing data"
Census_CBP is only generating `Number of establishments` data

https://github.com/USEPA/flowsa/blob/715d8e9eb487b2250539bce4c5545baeb9d72758/flowsa/data_source_scripts/Census_CBP.py#L145-L147

`EMP` and `PAYANN` are not showing up in the data call

[2022-05-19 13:53] catherinebirney commented on #217
@bl-young @melissagqc USGS MYB changed their urls, so we need to modify what we have in FLOWSA

[2022-05-24 17:56] matthewlchambers commented on #216
Made a couple of comments re: naming of the custom exceptions in cd02d0187766898abcaf36b3e636e19bba56c9b1 . I think we want to be careful that we're not adding custom exceptions when writing better log messages would be just as helpful.

[2022-05-24 19:43] bl-young commented on #216
great thanks. feel free to point out any times where you think a better log exception would be better - I'm not sure I fully comprehend the difference. I'm trying to start with errors i've encountered and/or found in the gh actions that tend to hide the true issue

[2022-05-27 12:45] bl-young commented on #219
add metadata download from remote in stewi with https://github.com/USEPA/standardizedinventories/commit/5fc5708ac3751cea386af74c78e8fbc0cd9ff496

[2022-05-27 17:04] melissagqc commented on #217
There are 3 URLS that do not work for the years we are trying to access. These minerals are Copper, Phosphate, and Potash

[2022-06-09 16:21] matthewlchambers commented on #149
I've had some thoughts on this. I think that this issue can be addressed, and the code quite a bit simplified, by allowing for recursion in the definition of our configuration `yaml`s, and in the code that attributes FBA flows to sectors. Basically, I note that what the helper FBAs are doing is allocating the flows of an FBA which will be used to allocate the flows of an FBA, etc. So, what I'm sug

[2022-06-15 18:03] #223 closed

[2022-06-15 18:03] #216 closed

[2022-06-30 15:40] catherinebirney opened #235 "One activity column requires direct allocation to sectors"
When both ActivityProducedBy and ActivityConsumedBy columns have values, one value must use "direct" allocation to sectors. FLOWSA is not designed to handle situations where both activities require additional allocation sources to attribute the activities to sectors.

Will have to restructure how allocation is handled in FLOWSA to enable both activities to use allocation methods other than "direct

[2022-06-30 18:10] matthewlchambers commented on #235
One way we could handle that is just by dividing into activity sets based on one of the columns, then attributing each activity set based on the other column.

[2022-07-08 13:27] bl-young opened #238 "in geo.filtered_fips: TypeError: unhashable type: 'Series'"
Obtaining the national FIPS code in `geo.filtered_fips` returns a TypeError

https://github.com/USEPA/flowsa/blob/a45e737d02a77d10cd358913cce5f4d13f7bef41/flowsa/geo.py#L89-L90

See for example this example code, fails on the third attempt.
[code]

I'm using pandas 1.3.3 and its possible this bug may be fixed in [pandas 1.4](https://github.com/pandas-dev/pandas/issues/22435). See [this comment](ht

[2022-07-08 22:02] matthewlchambers commented on #238
If we want to maintain pandas 1.3.3 compatibility, I prefer option 2 as a fix. However, I think requiring pandas 1.4 is probably reasonable (in line with shifting the python requirement to 3.8), especially since my understanding is that 1.4 fixed quite a lot of bugs.

[2022-07-11 12:58] matthewlchambers commented on #238
Having done a little more research on this issue (to understand what other issues might be caused by this bug), I feel more strongly than before that it would be better to require pandas 1.4. For pandas < 1.4, this bug causes (or may cause) `.query()` to fail if the query string uses pandas `Series` methods. Option 1 is a fix that is very specific to the situation of checking for nulls, and option

[2022-07-11 13:04] bl-young commented on #238
Noting that pandas 1.4 requires python >= 3.8, so relates to #237

[2022-07-11 19:12] bl-young commented on #238
Ok in that case https://github.com/USEPA/flowsa/commit/c6d261e982e4759e4a622d3080dcfa512345ea25 can be reverted and we can make a plan to update requirements (with hopefully few other issues)

[2022-07-11 19:24] #238 closed

[2022-07-11 20:57] matthewlchambers opened #245 "Need to refactor various source.py functions to use fba.config"
Pretty much what the title says. Several (many?) `source.py` functions used as `clean_fba...` functions need updating to use the new, attached `config` dictionary.

[2022-07-13 18:11] bl-young opened #249 "Updates to testing for improved clarity"
- [ ] Update filepath for csv download of data_diff (current lengthy folder structure)
- [ ] Move FBA config testing to its own job
- [ ] Post currently known failing FBAs to alert users and skip testing

[2022-07-13 18:11] bl-young commented on #249
@catherinebirney do you want this to be added to v1.2.3?

[2022-07-13 18:13] catherinebirney commented on #249
Sure, let's add it, but if these changes take more time than expected, we can push to the next release

[2022-07-15 01:03] bl-young commented on #217
closing this in favor of tracking using #251

[2022-07-15 01:03] #217 closed

[2022-07-15 18:54] catherinebirney commented on #249
Addressed with #251

[2022-07-15 18:54] #249 closed

[2022-07-27 13:57] bl-young opened #258 "Add new sectors to NAICS crosswalks upon crosswalk load"
Needed for external activitytosectormapping files that may include new NAICS (e.g. 7 or 8 digit NAICS) not currently in the crosswalk.

Crosswalk could be appended locally after loading, perhaps in `load_crosswalk()`

https://github.com/USEPA/flowsa/blob/aaf54030e701d6c52962eb2439ac3a683eb7c21a/flowsa/common.py#L59-L76

Currently that crosswalk will only include activitytosectormapping files and N

[2022-08-03 12:53] matthewlchambers commented on #258
Functionality to add such new "NAICS" codes (or any other industry codes that aren't actual NAICS codes) is in the `seea-recursive` branch. I needed it to account for emissions from waste decomposition in accordance with SEEA, which says these emissions should be attributed to "accumulations," not to the (current activities of) the waste management industry.

https://github.com/USEPA/flowsa/blob/f

[2022-10-12 17:08] bl-young commented on #219
githash added by https://github.com/USEPA/flowsa/commit/2d963c012b793c81c6cc26423787de78533f88c3

[2022-10-27 15:30] catherinebirney opened #286 "Memory error running FBS on ghgi-recursive-yaml/recursive-refac branches with pandas 1.5+"
pandas 1.5+ results in memory error and incomplete FBS generation. For now, generate FBS with < pandas 1.5

@matthewlchambers @bl-young

[2022-10-27 16:18] matthewlchambers commented on #286
I have tracked down the exact line in the `pandas 1.5.0` update that breaks my code. Now, I just have to figure out if there's a way to fix it and still ensure that column datatypes are correct.

[2022-10-27 16:32] matthewlchambers commented on #286
The issue is that the `pandas` team added a call to the dataframe's constructor inside the builtin `astype()` method, and the `FlowBy` constructor includes a call to `astype()` to ensure the flowby has the correct data types. So it just loops over and over until it runs out of memory.

[2022-10-28 13:30] bl-young opened #287 "BTS_airlines.py not wrapped in function"
Importing this module is causing errors due to a required local file

https://github.com/USEPA/flowsa/blob/ghgi-recursive-yaml/flowsa/data_source_scripts/BTS_Airlines.py

https://github.com/USEPA/flowsa/blob/d7c9403491c3b2fe45910bbee938369e7c5602c2/flowsa/data_source_scripts/BTS_Airlines.py#L6-L7

This should be wrapped inside a function.

[2022-10-28 13:31] bl-young commented on #287
@matthewlchambers This is causing errors in the github actions, and for us to run things, as we don't have access to the file here: https://github.com/USEPA/flowsa/blob/ghgi-recursive-yaml/flowsa/methods/flowbyactivitymethods/BTS_Airlines.yaml#L7

[2022-10-28 17:43] #287 closed

[2022-10-28 20:10] #286 closed

[2022-10-29 03:00] bl-young opened #290 "harmonized location system missing"
This is needed in .flowby, assuming we want it to be maintained,

https://github.com/USEPA/flowsa/blob/738f06aff1cf4cf55315d6213d91cddc3b2a1e5a/flowsa/dataclean.py#L242-L243

Without this update `compare_FBS_results()` will return all records as different.

Alternatively we could drop `LocationSystem` from the diff result, which could make sense anyway.

[2022-10-29 03:05] bl-young commented on #290
see https://github.com/USEPA/flowsa/commit/1c803ee977ec88241b497ef4c89c8d2c00dee65e

[2022-11-04 18:40] matthewlchambers commented on #290
With `compare_FBS_results()` no longer using `LocationSystem`, should we close this issue? It seems like a positive thing in general to retain this information, in case for some reason it's needed later.

[2022-11-04 18:44] bl-young commented on #290
I guess the question remains whether the ultimate FBS should have `FIPS` (the old way) or `FIPS_2015` (the new way)

[2022-11-04 18:49] matthewlchambers commented on #290
Agreed. My vote is for `FIPS_2015`.

[2022-11-04 18:52] catherinebirney commented on #290
I like FIPS_2015 - since we are already going to have to make changes in USEEIO to aggregate data, and accept new columns, we can add to that to-do list to drop "_year" from the LocationSystem

[2022-11-04 20:31] matthewlchambers commented on #290
Going ahead and closing the issue.

[2022-11-04 20:31] #290 closed

[2022-11-05 03:23] bl-young commented on #219
version number updated with 61c8e38
log files reset through loop in 853dd20

[2022-11-05 03:23] #219 closed

[2022-11-09 16:03] catherinebirney opened #296 "Modify GH Actions FBS compare against remote to fail after testing all FBS"
Right now the GH actions fail at the first FBS that fails. Modify the test to run through all FBS methods and fail at the end printing out all FBS methods that failed.

[2022-11-11 16:13] bl-young opened #298 "FBS that contain substrings of other FBS are not accessed correctly"
For example `flowsa.getFlowBySector('Waste_national_2018')` can result in pulling `Food_waste_national_2018_m1` due to the common substring

[2022-11-22 15:35] catherinebirney commented on #298
I [modified](https://github.com/USEPA/esupy/commit/02352200854c134d08c603a7ffba7d18e6fb5ac6) the esupy code to look for parquets that "startwith" rather than "contain" the methodname. This edit will not necessarily fix the problem if methodnames are similar but it does address the waste_national vs food_waste_national bug

@bl-young @matthewlchambers